body {
    background: #f6f6f6;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}


input,
textarea,
select {
    outline: none;
    font-family: Arial;
    font-size: 12px;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
    color: #545454;
}

.mainer{
    min-width: 1169px;
    padding: 108px 0 120px 0;
    margin: 0 auto;
    min-height: 470px;
}

.mainer .header{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 34px;
    letter-spacing: 7px;
    text-align: center;
    margin: 0 0 14px 0;
}

.mainer .rectangle{
    height: 4px;
    width: 45px;
    background-color: #dddbdb;
    left: 557px;
    margin: 14px 0 38px 0;
    margin: 0 auto;
}

.mainer .header-text-block{
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #3c3c3c;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 580px;
    left: 304px;
    margin: 34px auto 0 auto;
}

.mainer .team{
    margin: 56px 15px;
    width: 269px;
    min-height: 325px;
    display: inline-block;
}

.photo-block{
    width: 269px;
    height: 268px;
    background-image: url(/images/team-photo.png);
    opacity: 0.8;
}

.photo-block:hover{
    background-image: none;
    background-color: #18b5dc;
    opacity: 1;
}

.description-team-block{
    margin: 14px 0 0 0;
}


.description-team-block .name{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #282528;
}


.description-team-block .position{
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color: #646464;
}

.wrap-align{
    display: inline-block;
    margin: 113px 65px;
    
}

.wrap-icon{
    display: none;
    box-sizing: border-box;
    text-align:center;
    padding: 7px 0 ;
    margin: 2px;
    height: 42px;
    width: 42px;
    background-color: #5ecbe7;
    color: white;
    font-size: 25px;
}

.photo-block:hover .wrap-icon{
    display: inline-block;
}

.photo-block:hover .wrap-icon:hover{
    background-color: #4ec0dd;
}

.team-wrapper{
    margin: 0 auto;
    width: 1210px;
    box-sizing: border-box;
}